In [2]:
users = [
    ('Maria', 'Greek'), ('Jean', 'Maltese'),
    ('Juan', 'Spanish'), ('Dima', 'Ukrainian'),
    ('Agata', 'Thai'), ('Rafal', 'Polish'),
    ('Diego', 'Turkish'), ('Stan', 'Panamanian'),
    ('John', 'Australian'), ('Frank', 'Belgian'),
    ('Jane', 'Canadian'), ('Paul', 'Argentinian'),
    ('Taylor', 'Danish'), ('Kate', 'American'),
    ('Mark', 'Sri Lankan'), ('Jane', 'Japanese'),
    ('Ted', 'Indian'), ('Jean', 'Egyptian')
]
 
nationality_to_continents = {
    'Greek': 'Europe', 'Maltese': 'Europe',
    'Spanish': 'Europe', 'Ukrainian': 'Europe',
    'Thai': 'Asia', 'Polish': 'Europe',
    'Turkish': 'Asia', 'Panamanian': 'Central America',
    'Australian': 'Australia', 'Belgian': 'Europe',
    'Canadian': 'North America', 'Argentinian': 'South America',
    'Danish': 'Europe', 'American': 'North America',
    'Sri Lankan': 'Asia', 'Japanese': 'Asia',
    'Indian': 'Asia', 'Egyptian': 'Africa'
}
 
users_continents = {}
 
for name, nationality in users:
    continent = nationality_to_continents.get(nationality)
    if continent:
        users_continents[continent] = users_continents.get(continent, 0) + 1
print(users_continents)

{'Europe': 7, 'Asia': 5, 'Central America': 1, 'Australia': 1, 'North America': 2, 'South America': 1, 'Africa': 1}

In [1]:
def remove_sql_specialists(people_list):
    return [person for person in people_list if "SQL" not in person[1]]

new_hires = [('Mark Adams', 'SQL Analyst', 4000),
             ('Leslie Burton', 'HR Specialist', 2300),
             ('Dorothy Castillo', 'UX Designer', 3100)]

filtered_hires = remove_sql_specialists(new_hires)
print("filtered new hires:",filtered_hires)

filtered new hires: [('Leslie Burton', 'HR Specialist', 2300), ('Dorothy Castillo', 'UX Designer', 3100)]

In [2]:
input_str = input("Enter a string: ")
letters = sum(char.isalpha() for char in input_str)
digits = sum(char.isdigit() for char in input_str)
print(f"Letter: {letters}")
print(f"Digit: {digits}")

Enter a string:  Aaseya12345

Letter: 6
Digit: 5

In [13]:
even_digit_numbers = []
 
 
for num in range(100, 401):
    num_str = str(num)
    if all(int(digit) % 2 == 0 for digit in num_str):
        even_digit_numbers.append(num_str)
 
print(",".join(even_digit_numbers))

200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288,400

In [14]:
numbers = []
 
print("Enter 5 numbers:")
for i in range(5):
    num = float(input(f"Number {i+1}: "))
    numbers.append(num)
 
numbers.sort()
 
median = numbers[2]  
 
print("The median is:", median)

Enter 5 numbers:

Number 1:  20
Number 2:  50
Number 3:  80
Number 4:  4
Number 5:  99

The median is: 50.0