Write a Python program to find the median of five values.[As given by users]

In [4]:
numbers = []

print("Enter 5 numbers:")
for i in range(5):
    num = float(input(f"Number {i+1}: "))
    numbers.append(num)
numbers.sort()
median = numbers[2] 
print(f"\nThe median is: {median}")

Enter 5 numbers:

Number 1:  3
Number 2:  99
Number 3:  89
Number 4:  78
Number 5:  76

The median is: 78.0

Python program that accepts a string and calculates the number of digits and letters. [take string input from user]
Example: Aaseya12345

In [3]:

user_input = input("Enter a string: ")
letter_count = 0
digit_count = 0
for char in user_input:
    if char.isalpha():
        letter_count += 1
    elif char.isdigit():
        digit_count += 1
print(f"Letters: {letter_count}")
print(f"Digits: {digit_count}")

Enter a string:  Aaseya@12

Letters: 6
Digits: 2

 Create a funcion named remove_sql_specialists(people_list). Given a list of tuples, 
it removes people whose job titles contain the word "SQL" from the list. You can use the in operator to check if a 
given job title contains the word "SQL". Use the following data containing employee names, job titles, and salaries:

new_hires = [('Mark Adams', 'SQL Analyst', 4000),
             ('Leslie Burton', 'HR Specialist', 2300),
             ('Dorothy Castillo', 'UX Designer', 3100)]

In [7]:
def remove_sql_specialists(people_list):

  filtered_list = []
  for person in people_list:
    job_title = person[1]
    if "SQL" not in job_title:
      filtered_list.append(person)
  return filtered_list

new_hires = [('Mark Adams', 'SQL Analyst', 4000),
             ('Leslie Burton', 'HR Specialist', 2300),
             ('Dorothy Castillo', 'UX Designer', 3100)]

non_sql_hires = remove_sql_specialists(new_hires)

print("Original List:")
print(new_hires)
print("\nList after removing SQL specialists:")
print(non_sql_hires)

Original List:
[('Mark Adams', 'SQL Analyst', 4000), ('Leslie Burton', 'HR Specialist', 2300), ('Dorothy Castillo', 'UX Designer', 3100)]

List after removing SQL specialists:
[('Leslie Burton', 'HR Specialist', 2300), ('Dorothy Castillo', 'UX Designer', 3100)]

In [8]:
users = [
    ('Maria', 'Greek'), ('Jean', 'Maltese'),
    ('Juan', 'Spanish'), ('Dima', 'Ukrainian'),
    ('Agata', 'Thai'), ('Rafal', 'Polish'),
    ('Diego', 'Turkish'), ('Stan', 'Panamanian'),
    ('John', 'Australian'), ('Frank', 'Belgian'),
    ('Jane', 'Canadian'), ('Paul', 'Argentinian'),
    ('Taylor', 'Danish'), ('Kate', 'American'),
    ('Mark', 'Sri Lankan'), ('Jane', 'Japanese'),
    ('Ted', 'Indian'), ('Jean', 'Egyptian')
]

nationality_to_continents = {
    'Greek': 'Europe', 'Maltese': 'Europe',
    'Spanish': 'Europe', 'Ukrainian': 'Europe',
    'Thai': 'Asia', 'Polish': 'Europe',
    'Turkish': 'Asia', 'Panamanian': 'Central America',
    'Australian': 'Australia', 'Belgian': 'Europe',
    'Canadian': 'North America', 'Argentinian': 'South America',
    'Danish': 'Europe', 'American': 'North America',
    'Sri Lankan': 'Asia', 'Japanese': 'Asia',
    'Indian': 'Asia', 'Egyptian': 'Africa'
}

users_continents = {}

for name, nationality in users:
    continent = nationality_to_continents.get(nationality)
    if continent:
        users_continents[continent] = users_continents.get(continent, 0) + 1

print(users_continents)

{'Europe': 7, 'Asia': 5, 'Central America': 1, 'Australia': 1, 'North America': 2, 'South America': 1, 'Africa': 1}